<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
  <div class="wrap">

      <header th:replace="layout :: header"></header>

    <div class="container">
      <div class="main-inf">
        <label>Name:</label><input type="text" />
        <label>Order:</label><input type="text" />
        <hr/>
      </div>
      <div class="part-input">
		  <form id="elementsInput">
			<table id="tab">
				<tbody>
					<tr id="tableHeader">
						<td>Part name</td>
						<td>Material </td>
						<td>Quantity</td>
						<td>Weight Neto(gr)</td>
						<td>Height</td>
						<td>Length </td>
						<td>Thickness</td>
						<td>Weight Bruto(kg)</td>
					</tr>
					<tr>
						<td><input oninput="onInput()" id="partName" type="text" /></td>
						<td><input oninput="onInput()" id="material" type="text"/></td>
						<td><input id="quantity" type="number"/></td>
						<td><input oninput="onInput()" id="weightNeto" type="number" /></td>
						<td><input oninput="onInput()" id="height" type="number" /></td>
						<td><input oninput="onInput()" id="leng" type="number" /></td>
						<td><input oninput="onInput()" id="thickness" type="number" /></td>
						<td><input id="weightBruto" type="number"/></td>
					</tr>
				</tbody>
				<label>TOTAL NETO:</label>
				<label>TOTAL BRUTO:</label>
			</table>
			  <button id="newRowBtn">New Row</button>
		  </form>
      </div>
		<hr/>
			<form method="post" th:action="@{/}">
				<button id="submit" type="submit">Submit</button>
				<button id="sort">Sort</button>
			</form>
    </div>
  </div>

  <footer th:replace="layout ::footer"></footer>
</body>
</html>
