<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
  <div class="wrap">

      <header th:replace="layout :: header"></header>

    <div class="container">
      <div class="main-inf">
        <label>Name:</label><input id="name" type="text" />
        <label>Order:</label><input id="orderTag" type="text" />
        <hr/>
      </div>
      <div class="part-input">
		  <form id="elementsInput">
			<table id="tab">
				<tbody>
					<tr id="tableHeader">
						<th>Part name</th>
						<th>Material </th>
						<th>Quantity</th>
						<th>Neto(gr)</th>
						<th>Neto Total</th>
						<th>Height</th>
						<th>Length </th>
						<th>Thickness</th>
						<th>Bruto</th>
						<th>Bruto Total</th>
					</tr>
					<tr>
						<td><input id="partName" type="text" /></td>
						<td><input id="material" type="text"/></td>
						<td><input oninput="onInput()" id="quantity" type="number"/></td>
						<td><input oninput="onInput()" id="weightNeto" type="number" /></td>
						<td id="weightNetoTotal">0</td>
						<td><input oninput="onInput()" id="height" type="number" /></td>
						<td><input oninput="onInput()" id="leng" type="number" /></td>
						<td><input oninput="onInput()" id="thickness" type="number" /></td>
						<td><input id="weightBruto" type="number"/></td>
						<td id="weightBrutoTotal"></td>
					</tr>
				</tbody>
			</table>
			  <div class="results">
			  	<label id="totalNeto">TOTAL NETO: 0 KG</label>
			  	<label id="totalBruto">TOTAL BRUTO: 0 KG</label>
			  </div>
			  <button id="newRowBtn">New Row</button>
		  </form>
      </div>
		<hr/>
			<form id="trailerSubmit" action="/newTrailer">
				<button id="submit" type="submit">Submit</button>
				<button id="sort">Sort</button>
			</form>
    </div>
  </div>

  <footer th:replace="layout ::footer"></footer>
</body>
</html>
